<ion-content [fullscreen]="true">
  <ion-card *ngFor="let revista of revistas">
    <ion-card-content>
      <img src="{{ revista.imagens[0] }}">
      <ion-label>
        Edição
        <strong>{{ revista.edicao }}</strong>
      </ion-label>
        <ion-button
          (click)="assinaturaRevista(revista.id)"
          expand="block">
        Assinar revista
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let p of products">
    <ion-card-content>
      <ion-label>

        <p>
          <strong>{{p.title}}</strong>
        </p>
        <p>
          <strong>{{p.description}}</strong>
        </p>
        <p>
          <strong>{{p.price}}</strong>
        </p>
        <p>
          <strong>{{p.currency}}</strong>
        </p>
      
      </ion-label>
        <ion-button
          (click)="purchase(p)"
          expand="block">
        Assinar revista
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
